div{
    background-color: orangered;
    border-color: purple;
    border-style:outset;
    width: 200px;
    height: 200px;
    margin-top: 100px;
    margin-left: 100px; 
}

.teste{
    background-color: rgb(0, 110, 255);
    padding-top: 100px;
    padding-left: 10px;
}

#oi{
    color: rgb(152, 251, 152);
}

#tchau{
    color:rgb(255, 127, 80);
    padding-top: 90px;
    padding-left: 90px;
}

#back{
    background-color: #4fcd4f;
    color: #dc143c;
    border-color: #000000;
    border-style:solid;
}


