@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

p{
    color: purple;
    font-family: 'Salsa', cursive;
    font-size: 12px;
    font-weight:lighter;
    font-style:italic;
    text-decoration:underline;
}

h1{
    color:darkorange;
    width: 200px;
    padding: 100px;
    text-align: center;
    word-spacing: 5px;
    letter-spacing: 50px;
}

div{
    width: 200px;
    text-align: justify;
}