body{
    background-color: aqua;
    margin-top: 0;
    padding: 0;
}


/*div1 é filha de pai, a medida de porcentagem é em relação a ele*/


.pai{
    height: 600px;
    background-color: green;
}


.div1{
    width: 100%;
    height: 30%;
    background-color:brown;
}


/*header é filho do pai2, a medida de porcentagem é em relação a ele */


.pai2{
    width: 200px;
    background-color:cadetblue;
}


.header{
    background-color: yellow;
    width: 100%;
    height: 30%;
}
