@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

body{
    background-color:rgb(247, 247, 242);
}
    
h1{
    margin-top: 2%;
    color: #0202fdd1;
    font-size: 36px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
}

.box{
    margin: 0 auto;
    padding: 0 auto;
    margin-top: 10px;
    margin-left: 800px;
    margin-right: 800px;
}

 /*ajustar daqui pra frente, aqui é só o esqueleto*/

.one{
    color: #000000c7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: -2px;    
}

.two{
    color: black;
}



@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

body{
    background-color:rgb(247, 247, 242);
}
    
h1{
    margin-top: 2%;
    color: #0202fdd1;
    font-size: 36px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
}

.box{
    margin: 0 auto;
    padding: 0 auto;
    margin-top: 10px;
    margin-left: 800px;
    margin-right: 800px;
    display: inline-block;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: justify;  
}

 /*ajustar daqui pra frente, aqui é só o esqueleto*/

.one{
    color: #000000c7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: -2px; 
    margin: auto;   
}

.two{
    color: black;
    margin: auto;  
}







